
.header{
    padding-left:40%;
}
#count{
    padding-left:50%;
    font-size: xx-large;
}
.btn1{
   margin-left:42%;  
   padding:5px 15px;
}
.btn1:hover{
    background-color: rgb(91, 173, 91);
    color:white;

}
.btn{
    margin-left:45px;
     padding:5px 15px;
     
}
.btn:hover{
    background-color: rgb(164, 89, 89);
    color:white;
}
.maindiv{
    padding:100px;
}